
  .uno{
      border:10px solid violet;
      background-color:#F6CED8;
      padding-right: 20px;
      padding-left: 30px;
     

}
.dos{
      text-align:center;
      border:3px dashed green;
      padding:40px;
      background-color:white;
      margin-top:30.5px;
      margin-right: 10px;
      margin-bottom: 80px;
      margin-left: 60px;
      padding-top: 20px;
      padding-right: 70px;
      padding-bottom: 10px;
      padding-left: 10px;
     
}
